.construction-window {
    border-radius: 10px;
    border-left: 5px solid #D72C3D!important;
    font-size: 12px;
    position: absolute;
    top: 12px;
    background-color: #434343;
    padding: 20px 40px;
    border: 1px solid #535353;
}
.warning {
    color: #D72C3D;
    font-style: normal;
    font-weight: bold;
}

.center-warn {
    display: flex;
    align-items: center;
    justify-content: center;
}